<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css">
		{% endblock %}

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Accueil
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('pratique_new') }}">Inscription</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Exemple: Football">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
				</form>
			</div>
		</nav>
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
