<form method="post" action="{{ path('pratique_delete', {'id': pratique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pratique.id) }}">
    <button class="btn">Delete</button>
</form>
