{% extends 'base.html.twig' %}

{% block title %}Pratique index{% endblock %}

{% block body %}
    <h1>Pratique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pratique in pratiques %}
            <tr>
                <td>{{ pratique.id }}</td>
                <td>{{ pratique.niveau }}</td>
                <td>
                    <a href="{{ path('pratique_show', {'id': pratique.id}) }}">show</a>
                    <a href="{{ path('pratique_edit', {'id': pratique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pratique_new') }}">Create new</a>
{% endblock %}
